<h1>Welcome to Tennis Buddy</h1>
<p>Tennis buddy aims at matching tennis players and help them to find the perfect court in their area</p>
<h3>Sign up now and we'll let you know as soon as we launch in your area</h3>

<%= form_for :user, url: '/users' do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Email: <%= f.text_field :email %></p>
  <p>Password: <%= f.password_field :password %></p>
  <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
  <p><%= f.submit "Submit" %></p>
  <%= flash[:notice] %>
<% end %>
